@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://localhost:3000/styles/material.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/icons-material-design.css">
    <link rel="stylesheet" href="http://localhost:3000/styles/ripples.css">
    <script src="http://localhost:3000/javascripts/ripples.js"></script>
    <script src="http://localhost:3000/javascripts/material.js"></script>
</head>
<body>
    <script src="http://localhost:3000/bundle.js"></script>
</body>
</html>
